*.zip
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.txt
*.tif
*.xml
*.sbn
*.sbx
*.tfw
*.ovr
*.csv
*.sql
*.json
*.geojson
*.kml
*.kmz
*.png
*.jpg
*.txt
*.html

img/
avg_annual_precip_ca_1981_2010_800m/
Surface_Temperature_30m/
!collection.json
!geology_collection.json
!SQL/*.sql
